In [15]:
import pandas as pd
import numpy as np

In [18]:
data = pd.read_csv("./dataset/data_train.csv")
data.head()

                                     NAME GROUP_ID  Unnamed: 2  Unnamed: 3
0           Пиво "Жигулевское" 0,5 л. св.       35         NaN         NaN
1  СОУС ТОМАТНЫЙ БУЗДЯК 670Г ТАТАРСКИЙ /8        6         NaN         NaN
2              Сигареты  Esse SS Exchange        7         NaN         NaN
3                                Петрушка        6         NaN         NaN
4                              пиво ягерь       35         NaN         NaN

In [19]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import SGDClassifier
text_clf = Pipeline([('vect', CountVectorizer()),
                      ('tfidf', TfidfTransformer()),
                      ('clf', SGDClassifier(loss='hinge', penalty='l2',
                                            alpha=1e-3, random_state=42)),
])

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data["NAME"], data["GROUP_ID"], test_size=0.4, random_state=42)

In [21]:
text_clf.fit(X_train, y_train)

Pipeline(steps=[('vect', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip...     penalty='l2', power_t=0.5, random_state=42, shuffle=True, verbose=0,
       warm_start=False))])

In [28]:
predicted = text_clf.predict(['мясо'])
print(predicted)

['6']

In [24]:
np.mean(predicted == y_test)

/home/oktai/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  """Entry point for launching an IPython kernel.

0.0

In [1]:
text_clf.predict(["мясо"])

NameError: name 'text_clf' is not defined

In [9]:
d = {"GROUP_ID": [6, 14], 'NAME': ['Гель для душа', "Дальпико Кальмар сушеный стружка"]}
test_data = pd.DataFrame(d)
test_data.head()

   GROUP_ID                              NAME
0         6                     Гель для душа
1        14  Дальпико Кальмар сушеный стружка

In [10]:
e = {'NAME': ['Грудка ЦБ охл (лоток) части тушек 1,0 кг'], "GROUP_ID": [6]}
test_data2 = pd.DataFrame(e)
test_data2.head()

   GROUP_ID                                      NAME
0         6  Грудка ЦБ охл (лоток) части тушек 1,0 кг

In [14]:
test_data3 = pd.concat([test_data, test_data2], axis=0)
test_data3.head()

   GROUP_ID                                      NAME
0         6                             Гель для душа
1        14          Дальпико Кальмар сушеный стружка
0         6  Грудка ЦБ охл (лоток) части тушек 1,0 кг